* {
    margin: 0;
    padding: 0;
}

table {
    border: 2px solid #000;
    width: 100%;
    box-sizing: border-box;
}
tr{
    padding: 10px; 
}
tr:nth-child(even){
    background: #ccc; 
    
}

.navbar {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.77);
    display: flex;
    align-items: center;
}

.navbar a {
    padding: 10px;
    text-decoration: none; 
    color: #fff; 
    font-size: 1.1rem; 
    margin-left: 5%; 
}
@media(max-width:762px){
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .navbar a{
        padding: 12px;

    }
    table{
        width: 100%;
    }
}